/* Add here all your CSS customizations */
/*solution css*/
html,body{
    height: 100%;
}
.solution-header{
    width: 100%;
    height: 100%;
    display: table;
}
.solution-tablecell{
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.home_page_banner_img {    margin-top: -340px; margin-left:500px; position: absolute; z-index: 2;}
.home_banner_text_box {    margin-top: 150px;}

.Contact_Us_right_side_text_box {max-width:40%; text-align:left;}
.container_Contact_Us {
    width: 100%; 
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;			
    position: absolute;
    margin-top: -520px;
    z-index: 2;
}
.Contact_Us_bg_color {background:#FFF;     box-shadow: 0 15px 25px rgba(102,87,131,.1);-webkit-box-shadow: 0 15px 25px rgba(102,87,131,.1);    padding: 40px;}
.form_group_section {padding:10px; width:500px; float:none;}
.ntHome2 {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-bottom: 4px solid #fff;
    min-height:570px;
}
.ntHome2 { position: relative; width: 100%; height: 100vh; overflow: hidden; background-image: url('../images/header-area.jpg'); background-size: cover; background-position: center; border-bottom: 4px solid #fff; min-height: 570px; } 
.ntHome2.particles{ background-image: url('../images/header-area-01.jpg'); } 
.ntHome2.bubble{ background-image: url('../images/header-area-02.jpg'); } 
.ntHome2:before { content: ''; z-index: 1; width: 100%; height: 100%; position: absolute; background-repeat: no-repeat; bottom: 0; right: 0; top: 0; background-image: linear-gradient(to right, #00122f 0%, #004a8a 66%)} 
.ntHeader2 { width: 100%; padding: 20px 0; z-index: 4; position: absolute; top: 0; } 
.ntHome2 .ntWayPoint { bottom: -2px; z-index: 2; } 
.ntHome2 .ntWayPoint::after { content: ''; background-image: url('../images/way-point-white.svg'); width: 253px; height: 38px; } 
.ntHome2 .ntWayPoint i { text-align: center; color: red; top: 15px; } 
.contact_us_page_bottom_txt	 {margin-top:-10px;}

.list.list-icons li > [class*="fa-"]:first-child, .list.list-icons li a:first-child > [class*="fa-"]:first-child, .list.list-icons li > .icons:first-child, .list.list-icons li a:first-child > .icons:first-child	{color:#FFF;    border-color: #FFF;}

.col-lg-6.float-left	{float:left; padding:125px 0px;}

@media only screen and (max-width: 600px){
.Contact_Us_right_side_text_box {max-width:100%; text-align:left;}
.Contact_Us_bg_color{    width: 92%;}
.container_Contact_Us{    margin-top: -634px;}

}
